<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- load the properties files : coach.properties -->
	<context:property-placeholder location="classpath:coach.properties"/>

	<!-- Add a logger config to see logging messages. Default "FINE" - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->
	<bean id="myLoggerConfig"
		class="com.udemy.utilities.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINEST" />
		<property name="printedLoggerLevel" value="FINEST" />
	</bean>

	<!-- define dependancy for Coach bean -->
	<bean id="myFortune" class="com.udemy.dependancyinjection.HappyFortuneService"/>
	
	<!-- define another dependancy for Coach bean -->
	<bean id="myRandomFortune" class="com.udemy.dependancyinjection.RandomFortuneService"/>
	
	<!-- define a spring bean -->
	<bean id="myCoach" class="com.udemy.inversionofcontrol.TrackCoach">
		<!-- injection by constructor with id of the Bean-->
		<!-- <constructor-arg ref="myFortune"/> -->
		<constructor-arg ref="myRandomFortune"/>
	</bean>
	
	<!-- define another Spring Bean -->
	<bean id="myCricketCoach" class="com.udemy.dependancyinjection.CricketCoach">
		<!-- injection by setter with id of the Bean-->
		<!-- property name is the name of the setter for the injection -->
		<property name="fortuneService" ref="myFortune"/>
		<!-- injecting literal values in Bean properties -->
		<property name="emailAdress" value="thebestcoach@luv2code.com"/>
		<property name="team" value="Sunrises Hyderabad"/>
		<!-- inject literal values from the properties file -->
		<property name="firstname" value="${coach.firstname}"/>
		<property name="lastname" value="${coach.lastname}"/>
	</bean>
	
	
	
</beans>
